@model List<Book> 
    @{
    ViewData["Title"] = "Book List";
    
}

<div class="text-center">
    <h1 class="display-4">Book List</h1>
    @foreach (var item in Model)
    {
        <h3 class="m-3 p-3 w-50 mx-auto border border-primary rounded">@item.Title<br /><small class="text-muted">Written
            by
            @item.GetAllAuthors()
            <p>@item.Genre.Type</p>
            <p>@item.FictionVsNonFiction</p>
            </small>
             </h3>
            
            <button class="btn btn-success">Check Out Book</button>
    }
    @* <h3 class="m-3 p-3 w-50 mx-auto border border-primary rounded">@Model.Title<br /><small class="text-muted">Written
            by
            @Model.GetAllAuthors()</small></h3>
    <p>@Model.Genre.Type</p>
    <p>@Model.FictionVsNonFiction</p>
     *@
</div>